@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
.component{

    background-color: #f7f7fc;
    font-family: "Mulish", sans-serif;
    padding: 30px;
    scroll-behavior: smooth;
    

    .inner-component{
      border-radius: 10px;
        background-color: white;
        padding: 20px;


  .search
  {  Display: grid;
    place-items: center;
     
    input{
    display:block;
   
    padding:10px;
    text-align: left;
    color:#707070;
    width: 95%;
    background-color: #f7f7fc;
    align-self: center;
    border-radius: .5rem;
    border: 0px solid;
    padding: 10px;
    border:0;outline:0;
    :focus,:active{
      
       border-style: none;
    }
    
    }
    
    }

  
  .categories
   {

    
    


    ul{
        border-bottom: #e2e2ea 2px solid;
        list-style: none;
        display: flex;
        justify-content:space-evenly;
        

        li{
            display:inline-block;
            padding-bottom: 10px;
            font-weight: 600;
            
            
             NavLink{
                text-decoration: none;
             }
        }
        
    }

  }

  .cards-1
  {  
    
    ul{  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     
        list-style: none;
        
        li{
             display: inline-block;
             padding: 10px;

            
            }
        }
        
        
         

    }

  

  .cards-2
  {
       


    ul{  
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   
      list-style: none;
      
      li{
           display: inline-block;
           padding: 10px;

          
          }
      }
  }
}

}


.items-title{
 position: relative;
 left:50px;

}

