@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

.outer{
    
    height: 210px;
    width: 260px;
    background-color: white;
    border: #92929d solid 1px;
    border-radius: 7px;
    font-family: 'Mulish', sans-serif;
    padding:0;
    
   
   
    
   
   .image
   {
    background-color:#E2E2EA ;
    top:4px;
    left: 5px;
    right:5px;
    height: 140px;
    width: 250px;
    border-radius: 7px;
    
    position: relative;
    }
    
   .price-outer
   {  
      padding: 8px;
    
    .food{
        position: relative;
        left:8px;
        padding-top: 5px;
    }
    

    .price{
        position: relative;
        color: #42BDA1;
        left: 8px;

    }

     

   }
  



}