

.main{
    
  margin-right: auto;
    

    height: 100%;
    
    display: flex;
   justify-content: space-between;
   flex-direction: column;
   border-right:1.5px #e2e2ea solid;
    .top
   {  
      border:20px;
      ul
      {  
        padding-right: 20px;
        list-style: none;

       li
       {
                 
        text-align: center;
          
          padding: 18px; 
          border: 20px;
         
          width:30px; 
          border-radius: 1rem;
          cursor: pointer;
          margin: 2rem 0rem;
          
          :hover{
            opacity: .5;
        }
        
      }

        // li .a{
        //      background-color: antiquewhite;

        // }
        // li active{

        //     background-color:#5541d7;
        // }

        
        
         
       }
     }
  }


   .bottom
   {

     ul
     {
        list-style: none;


          li{
               
            padding: 18px; 
          border: 20px;
          width:20px; 
          border-radius: 1rem;
          
          cursor: pointer;
          :hover{
            color: #e2e2ea;
            opacity: .5;
        }
             


          }


     }

   }
   a.active{
    padding: inherit;
    border-radius: 1rem;
   }

   



