


.outer1{

      width: 100%;
      border: none;
      font-family: 'Mulish', sans-serif;
      padding:30px;
      background-color: #ffffff;
      height: fit-content;
      
      width: fit-content;
      
  

    .inner{
        padding-top: 20px;
           
        table{
            table-layout: fixed;
            border-collapse: collapse;
             
             height: 100%;

          tr{
          
            border-bottom: #e2e2ea 1px solid;

        

                

               th{
                background-color: #f7f7fc;
                padding: 20px 30px; 
                
                
                
                
             }
            }

            td
                {
                    text-align: center;
                    padding: 20px 30px;
                    font-weight: 300;
                    
                }
           
            
            
          
        }


       }






    }

    tr.header
    {
     
      
        
  
      
    }
    .header-background{
     background-color: #e2e2ea;  
    }

